
node_modules/
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.ccl
*.ldf
*.lpf
*.xml
*.db
*.asd
*.cam
*.hrr
*.ncd
*.rpt
*.vcd
*/*/impl1/*
*/*/*.dir/*